<div>
    <h2 class="page-header">Register</h2>
    <form method="POST" action="/users/register">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="user_register_email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
            <label>GitHub Handle</label>
            <input type="text" class="form-control" id="user_register_github_handle" name="github_handle" placeholder="GitHub Handle" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" id="user_register_password" name="password" placeholder="Password" />
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="text" class="form-control" id="user_register_confirm_password" name="confirm_password" placeholder="Confirm Password" />
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
